@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');

* {
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  background-color: #333;
}

.container {
  background-color: whitesmoke;
}

iframe {
  height: 400px;
  width: 100%;
  border: #333;
  border-style: solid;
  border-width: 1px;
  box-shadow: 4px 4px 5px #333;
}