@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');

* {
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  background-color: #333;
}

.container {
  background-color: whitesmoke;
}